* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Section Header */
.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
}

.main-nav-list li {
  list-style-type: none;
  text-decoration: none;
}
/* End of Section Header */
